@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family:
    Area N,
    sans-serif,
    sans-serif;
  background-color: #000024;
  color: #fff;
}
.navbar-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.34);
}

@layer utilities {
  .primary-button {
    @apply rounded-full bg-primary text-white px-5 py-2;
  }
  .nav-height {
    @apply h-[calc(100vh-60px)];
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .hero-title {
    @apply lg:text-7xl md:text-6xl text-3xl max-sm:text-2xl lg:leading-[11vh] md:leading-[9vh] max-md:mb-10 leading-normal text-center;
  }
  .hero-slogan {
    @apply text-center font-light leading-[3vh] max-sm:text-xs;
  }
  .secondary-button{
    @apply rounded-full border text-white px-5 py-2;
  }
}
