@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

}
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;

  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;

  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;

  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;

  --border: 216 34% 17%;
  --input: 216 34% 17%;

  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;

  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;

  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --ring: 216 34% 17%;

  --radius: 0.5rem;
}


.navbar-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.34);
}
.card-background {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
}

#card-arrow {
  transition: opacity 0.3s ease-in-out;

}



@layer utilities {
  body {
    @apply font-poppins p-0 m-0 bg-[#000024] text-white overflow-x-hidden;
  }
  .primary-button {
    @apply rounded-full bg-primary text-white px-5 py-2 flex items-center justify-center font-[500];
  }
  .secondary-button {
    @apply rounded-full border text-white px-5 py-2 font-[300];
  }
  .nav-height {
    @apply h-[calc(100vh-60px)];
  }
  .AccordionItem[data-state='open']{
  @apply bg-primary;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .hero-title {
    @apply lg:text-7xl font-light md:text-6xl text-3xl max-sm:text-2xl lg:leading-[11vh] md:leading-[9vh] max-md:mb-10 leading-normal text-center;
  }
  .hero-slogan {
    @apply text-center font-light leading-[3vh] max-sm:text-xs;
  }

  .services-container {
    @apply mt-32 max-sm:mt-24 flex-col sm:gap-14 gap-10 sm:py-14 py-10 ;
  }


  .workedwith-desc {
    @apply text-center max-sm:text-xs font-light;
  }


  .services-card{
    @apply bg-primary/[0.2] border-[0.5px] text-white py-4 px-5 flex flex-col gap-5 w-80 h-auto rounded-3xl;
  }
  .card-header{
    @apply flex flex-col gap-2 items-start justify-start p-0
  }
  .card-content{
    @apply  flex flex-row flex-wrap gap-2 whitespace-nowrap;
  }
  .card-footer{
    @apply w-full flex items-center justify-center;
  }
  .services-tiles{
    @apply flex sm:flex-row flex-col sm:flex-wrap  sm:gap-6 gap-4 items-center justify-center;
  }
}
